@page "/"



<div class="row">
    <PageTitle>Index</PageTitle>
</div>
<div class="row">
    <figure class="text-center">
        <blockquote class="blockquote">
            <p class="h2">Bienvenido a la pizzeria "Nucita".</p>
        </blockquote>
    </figure>
</div>
<div class="row">
    <img src="/PizzaImages/4812.jpg_wh860.jpg" class="rounded mx-auto d-block w-50 p-3" >
</div>



